html {
	font-family: 'Roboto', sans-serif; 
	color: #686868;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

img{
    height: auto;
	display:inline-block;
    margin: auto;
	padding: 0 10px 0 10px;
	height: 600px;
}
img.avatar{
	margin: 10px 0 10px 0;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}


h1 {
    color: #5E5E5E;
    font-size: 2rem;
	margin: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
button {
	outline: none;
	border: none;
	box-shadow:none;
}
.type{
	font-weight: bold;
	font-size: 1rem;
	display: inline-block;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	color: white;
	padding: 5px 15px 5px 15px;
	margin: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}
.type.application_cat_btn{
	background-color: #58C3FA;
	border-color: #4DA8D6;
}
.type.design_cat_btn{
	background-color: #FA5757;
	border-color: #D94B4B;
}
.type.all_cat_btn_big{
	background: #FAA757;
}

.topic{
	border: 0;
	font-weight: bold;
	font-style: italic;
	font-size: 0.9rem;
	display: inline-block;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	color: white;
	padding: 3px 10px 3px 10px;
	margin: 5px 0;
	border-radius: 5px;
	background-color: #E0E0E0;
	border-color: #D94B4B;
}

header {
	text-align: center;
	margin: 50px 0 40px 0;
	display: block;
}

h1{
    color: #5E5E5E;
    font-size: 2rem;
	margin: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#footer {
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #D2D2D2;
	font-size: 1em;
  bottom: 0;
}

#projects{
	text-align: center;
	padding: 0px 0 200px 0;
	background-image: url(../img/other/doodles.png);
}

.project{
	padding: 5px 5px 10px 5px;
	margin: 10px;
	display: inline-block;
	border-style: solid;
	border-color: #E7E7E7;	
	border-width: 2px 2px 5px 2px;
	border-bottom-color: #DCDCDC;
	background-color: white;
	box-shadow: 0px 2px 4px 0px #BCBCBC;
	border-radius: 8px;
}

.legend{
	text-align: center;
	border-bottom-style: solid;
	border-color: #E7E7E7;	
	border-width: 0px;
	background-image: url(../img/other/doodles3.png);
	height: 199px;
	margin-bottom: -50px;
}

p{
	margin: 0px 0 10px 0;
}

p.p_desc{
	border-bottom-style: dotted;
	border-bottom-width: 3px;
	border-color: #E7E7E7;
	font-style: italic;
	padding: 10px;
}

h1.title{
	font-weight: bold;
	font-style: italic;
	font-size: 2rem;
	display: inline-block;
	padding: 3px 10px 3px 10px;
	margin: 5px 0;
	border-radius: 5px;
	background-color: #F0F0F0;
	color: #7A7A7A;
}

.strip1,.strip2{
	display: block;
	margin: 0;
	font-style: 0;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	color: white;
	font-size: 1.2rem;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	
}
.strip1{
	background-color: #58C3FA;
	border-color: #4DA8D6;
	text-shadow: 0px 0.14rem #349CCF;
}

.strip2{
	background-color: #FA5757;
	border-color: #D94B4B;
	text-shadow: 0px 0.14rem #D02C2D;
}


/* unvisited link */
a:link {
	font-weight: bold;
	text-decoration: none;
    color: #48B4EB;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: #48B4EB;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: #3491C1;
}

/* selected link */
a:active {
	text-decoration: none;
    color: #3491C1;
}

/* Extra Custom Hyperlinks*/
/* RESUME LINK */
a.resume_a:link{ 
	color: #F95255;
}
a.resume_a:visited{
	color: #F95255;
	font-weight: bold;
}
a.resume_a:hover{
	color: #C23032;
}
a.resume_a:active {
}
/* GITHUB LINK */
a.github_a:link{ 
	color: #A851FF;
}
a.github_a:visited{
	color: #A851FF;
	font-weight: bold;
}
a.github_a:hover{
	color: #9930E0;
}
a.github_a:active {
}
/* CONTACT LINK */
a.contact_a:link {
	font-weight: normal;
    color: #C0C0C0;
}
a.contact_a:visited{
	color: #FE9927;
}
a.contact_a:hover{
	color: #676767;
}
a.contact_a:active {
	color: #FE9927;
    color: black;
}


@media screen and (max-width: 700px) {
	.project{
		width: 100%;
		margin: 0px 0 20px 0;
		border-style: solid;
		border-width: 3px 0 5px 0;
		padding: 5px 0;
		border-radius: 0;
	}
	#projects, img, {
		padding: 0;
		margin: 0;
		border-radius: 0;
    }
	h1{
		border-radius: 0;
	}
	img{
		max-width: 400px;
	}
}

/*
@media screen and (max-width: 1800px) {

	#projects{
	text-align: left;
	}
	.project{
		text-align: center;
	}
	
}
*/
