html {
	font-family: 'Roboto', sans-serif; 
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
    font-weight: bold;
    color: #505050;
    font-size: 32px;
}

#intro {
    color: #686868;
    padding: 0px 50px 20px 50px;
}

#projects{
	background-color: brown;
	height: 200px;
	padding: 20px 50px 20px 50px;
	color: white;	
}

p.intro_p{
	max-width: 300px;
	text-align: left;
}

p.projects_p{
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	h1{
		margin: 10px 0 10px 0;
	}
    #intro{
        padding: 0 10px 0 10px;
    }
	#projects{
		padding: 10px;
    }
	p.intro_p{
		padding: 0px
	}
	p.projects_p {
		padding: 0;
	}
	
}
